
    
/*GENERAL CSS STYLES*/

body, html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.cwidth {
    max-width: 1000px;
    margin: 0 auto;
}

.website-title {
    display: inline;
    margin-left: 20px;
}

header, footer {
    background: #FFCA00;
    margin:0;
}

header {
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Calistoga', cursive;
}

footer {
    margin-top: 10em;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: bold;
    display: block;
}


/*NAV STYLES*/

a {
    color:#6400FF;
}

a:hover {
    color:#FF9672;
} 

a:visited {
    color:#6400FF;
}

nav {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.5em;
    float: right;
    display: inline-block;
}

nav p {
    float: left;
    padding: 0px 20px;
    display: none;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    padding-right: 15px;
    margin-right: 20px;
    display: block;
    text-decoration: none;
}

nav ul li ul {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    padding: 10px;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: #ffffff;
}


/*css for home page*/


main {
    display: inline-block;
}

#main_heading {
    color: #fff;
    font-family: 'Calistoga', cursive;
    text-align: center;
}


img {
    width: 100%;
    height: 100%;
    margin-right: 1em;
    display: block;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
}

._table {
    padding-top:10px;
}



/*css for tables*/
.result_table {
    width: 100%;
}

.listitem {
    background: #e5e2e2;
    padding: 12px 5%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

    .listitem:after {
        clear: both;
    }

    .listitem:nth-child(2n) {
        background: #d4d3d3;
    }

    .listitem:hover {
        background: #ffA000;
        cursor:pointer;
    }

.col2 {
    width: 45.87%;
    float: left;
    margin-right: 8.25%;
}

.col2last {
    width: 45.87%;
    float: left;
    margin-right: 0;
}

.col2header {
    font-weight:bold;
}

#show_page_title {
    font-weight:bold;
    font:2em;
}

.search_listpage, .pagecms_search {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*additional css*/

button {
    border-radius:10px;
    color:#FFCA00;
    padding:5px;
}


/*CSS mobile menu styles*/


@media (max-width: 630px) {


    a {
        color: #FF9672;
    }

    a:hover {
        color: #898789;
    }

    a:visited {
        color: #876567;
    }

    nav {
        font-family: 'Quicksand', sans-serif;
        font-size: 0.5em;
        float: right;
        display: inline-block;
    }

    nav p {
        float: left;
        padding: 0px 20px;
        display: none;
    }

    nav ul {
        float: left;
    }

    nav ul li {
        float: left;
        list-style: none;
        position: relative;
    }

    nav ul li a {
        padding-right: 15px;
        margin-right: 20px;
        display: block;
        text-decoration: none;
    }

    nav ul li ul {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        padding: 10px;
        display: none;
    }

    nav ul li:hover ul {
        display: block;
    }

    nav ul li ul li a {
        padding: 8px 14px;
    }

    nav ul li ul li a:hover {
        background-color: #ffffff;
    }

  
}